.categorieItem {
    display: flex;

    img {
        width: 100px;
    }

    .categorieItem-info {
        font-size: 0.5rem;

        >span {
            margin: 0.5rem;
        }

        span {
            display: block;
        }

        #categorieItem-title {

            color: var(--main-text);
        }

        #categorieItem-desc {
            color: var(--grey-desc)
        }
    }
}

@media only screen and (min-device-width:768px) {
    .categorieItem {
        .categorieItem-info {
            font-size: 0.7rem;
        }
    }
}

@media only screen and (min-device-width: 1024px) {

    .categorieItem {
        .categorieItem-info {
            font-size: 1rem;
        }
    }
}