.categories {
    .title {
        font-size: 1rem;
        text-align: center;

        span {
            font-weight: 100;
        }
    }
    .items {
        margin-top: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            text-align: center;
        }
    }
}

@media only screen and (min-device-width: 768px) {
    py-3 {
        padding: 1rem 0;
    }
    .categories {
        .title {
            font-size: 1.5rem;
        }

        .items {
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (min-device-width: 1024px) {
    .categories {
        .title {
            font-size: 1.5rem;
            text-align: start;
        }
    }
}