footer {
    text-align: start;
    font-size: 10px;
    padding: 0.5rem;
    background-color: #323232;

    .container {

        .footer-item .lists {

            .list {
                min-width: 140px;
            }
        }
    }

    span {
        color: var(--white-color);
    }

    ul {
        margin-top: 1rem;
    }

    li {
        padding: 0.4rem 0;
    }

    a {
        color: #888888;
        text-decoration: none;

        :active {
            color: var(--green-background);
        }
    }

    @media screen and (max-width: 720px) {
        .footer-item {
            min-height: auto;
        }

        .container {
            .footer-item {
                border-left: none;
            }
        }
    }

    @media only screen and (min-device-width: 1024px) {
        font-size: 1rem;

        .container {

            .footer-item {
                min-height: 320px;
                padding: 1rem;
                border-left: 1px solid #0000001f;

            }
        }
    }
}